# Environment variables
.env
.env.local
.env.*.local

# Virtual environment
venv/
env/
.venv/

# Secrets and tokens
*_token*
*_key*
*.pem
*.key

log/
*.log
load_data/pipeline_execution.log

dataset_folder/
dataset_folder_pre-upload/